NEXT_PUBLIC_APP_URL=http://localhost:3000

# transcription, etc
GOOGLE_GENERATIVE_AI_API_KEY=xxx

# supabase
NEXT_PUBLIC_SUPABASE_URL=https://xxx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=xxx
SUPABASE_SERVICE_ROLE=xxx

# auth 
RESEND_API_KEY=xxx
