NEXT_PUBLIC_APP_URL=http://localhost:3000

# transcription, etc
GOOGLE_GENERATIVE_AI_API_KEY=xxx
GOOGLE_APPLICATION_CREDENTIALS=./credentials/google.json

# supabase
NEXT_PUBLIC_SUPABASE_URL=https://xxx.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=xxx
SUPABASE_SERVICE_ROLE=xxx

# auth 
RESEND_API_KEY=xxx
